.text{
    font-family: $font-primary;
    color: $color-primary;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    
    &.--bold{
    font-weight: bold;
    }

    &.grid{
        margin: 20px 0 20px 0;
    }

}



