<div class="radio">
    <input type="radio" name="ck" id="ck1">
    <label class="radio-ck radio-ck--red" for="ck1"></label>
    <br /><br>
    <input type="radio" name="ck" id="ck2">
    <label class="radio-ck" for="ck2"></label>
    <br /><br>
    <input type="radio" name="ck" id="ck3">
    <label class="radio-ck" for="ck3"></label>
    <br /><br>
</div>