<div class="on_off">
    <input type="checkbox" name="on" id="on">
    <label class="on" for="on"></label>
</div>

<br /><br>

<div class="on_off_2">
    <input type="checkbox" name="on2" id="on2">
    <label class="on2" for="on2"></label>
</div>