<div class="checkbox">
    <input type="checkbox" name="check" id="check1">
    <label class="check check--red" for="check1"></label>
    <br /><br>
    <input type="checkbox" name="check" id="check2">
    <label class="check" for="check2"></label>
    <br /><br>
    <input type="checkbox" name="check" id="check3">
    <label class="check" for="check3"></label>
    <br /><br>
</div>