<button class="btn" type="button">
    {{ normal }}
</button>
<br /><br />
<button class="btn active" type="button" active>
    {{ active }}
</button>
<br /><br />
<button class="btn" type="button" disabled>
    {{ disabled }}
</button>