<button class="btn btn--outline" type="button">
    {{ normal }}
</button>
<br /><br />
<button class="btn btn--outline active" type="button">
    {{ active }}
</button>
<br /><br />
<button class="btn btn--outline" type="button" disabled>
    {{ disabled }}
</button>