<button class="arrow right" type="button">
    <img src="/assets/arrow-right-black.png" alt="">
</button>
<br /><br />
<button class="arrow left" type="button">
    <img src="/assets/arrow-left-black.png" alt="">
</button>
<br /><br />
<button class="arrow right-2" type="button" disabled>

</button>
<br /><br />
<button class="arrow left-2" type="button" active>

</button>