<button class="controll play" type="button">
</button>
<br /><br />
<button class="controll add" type="button">
</button>
<br /><br />
<button class="controll checked" type="button">
</button>
<br /><br />
<button class="controll close" type="button">
</button>