<table>
    <tr>
        <th>
            <button class="menu list" type="button">
                <img src="/assets/menu.svg" alt="">
            </button>
        </th>
        <br /><br />
        <th>
            <button class="menu four" type="button">
                <img src="/assets/four.svg" alt="">
            </button>
        </th>
        <br /><br />
        <th>
            <button class="menu nine" type="button" disabled>
                <img src="/assets/nine.svg" alt="">
            </button>
        </th>
    </tr>
</table>