<button class="btn btn--none" type="button">
    {{ normal }}
</button>
<br /><br />
<button class="btn btn--none active" type="button">
    {{ active }}
</button>
<br /><br />
<button class="btn btn--none" type="button" disabled>
    {{ disabled }}
</button>