<div class="grid-container__news">
    <h3 class="h3">Excepteur sint.</h3>
    <p class="text text--grid">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
        incididunt
        ut labore et
        dolore magna aliqua.</p>
    {{ render '@webpage'}}
    {{ render '@div'}}

</div>