.likes{
    display: flex;
    

    &--img{
        justify-content: flex-end;
        width: 16px;
        height: 14.1px;
        margin: 0 10px 0 0;
    }

    &--bold{
        font-family: $font-primary;
        font-size: 14px;
        font-weight: bold;
    }
}