.grid-container{
    width: 100%;
    height: auto;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 20px;
    padding: 20px;
    background-color: purple;  


    &.top{
        padding: 36px 0 39px 0;
    }  
    
    // Tablet
    @media screen and (min-width: 768px){
        background-color: green; 
    }

    // Desktop
    @media screen and (min-width: 1024px){
        background-color: red; 
    }

}



.h3{
    margin: 40px 0 20px 0;
}

.grid-container__news .text--p3{
    margin: 20px 0 20px 0;   
}

.grid-container__card{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 400px 400px;
        grid-gap: 20px; 
        grid-template-areas:
        "card1 big big"
        "card3 card4 card5";
        
        
        &.card1{
            grid-area: card1;
        }
        
        &.big{
            grid-area: big;
        }

        &.card3{
            grid-area: card3;
        }
        
        &.card4{
            grid-area: card4;
        }

        &.card5{
            grid-area: card5;
        }

}




