<div class="card card--big">
    <div class="title">
        <h1>Big Title</h1>
        <div class="img-icon">
            <div class="icon">
                {{ render '@profile' }}
            </div>
        </div>

    </div>

    <div class="small">
        <h2>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</h2>
    </div>
</div>