$color-primary: #333333;
$color-primary-darker: #040404;
$color-secondary: #FF6A67;
$color-secondary-darker: #FF004D;
$color-inverted: #FFFFFF;
$color-disabled: #AAAAAA;
$color-pressed: #007feb;
$color-pink-red: #ff004d;
