.image {
    display: block;
    width: 100%;
    
    &--round {
        border-radius: 4px;
    }

    &--avatar {
        border-radius: 50%;
    }

    &--icon{
        width: 16px;
        height: 16px;
        margin: auto;
        padding-top: 14px;
        border-radius: 50%;
        background-color: transparent;
        src: "/assets/icons/profile-black.png";

    }
}